<div class="timeline">
    <div class="timeline-item">
      <div class="timeline-content">
        <details class="instance">
          <summary class="header">
          FE Dev Intern | 2023 June - Aug
          </summary>
          
          <p>My first internship which taught me how to operate within a team of developers. (sample text)</p>
      </details>
      </div>
      <div class="timeline-date">
        <span><img src="/assets/images/winsupply.png" alt="image" class="img"></span>
      </div>
    </div>
    
    <!-- <div class="timeline-item">
      <div class="timeline-content">
        <h3>Event 2</h3>
        <p>Event description goes here.</p>
      </div>
      <div class="timeline-date">
        <span>Date 2</span>
      </div>
    </div> -->
    
    <!-- Add more timeline items as needed -->
  </div>
  