@keyframes move-clouds-back {
    from {background-position: 0 0;}
    to {background-position: 10000px 0;}
}

@keyframes move-twinkle-back {
    from {background-position: 0 0;}
    to {background-position: -10000px 5000;}
}

.stars, .twinkling {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 250%;
    display: block;

}

.stars{
    background: #000 url(./startwinkle/stars.png) repeat top center;
    z-index: -3;
}

.twinkling{
    background: transparent url(./startwinkle/twinkling.png) repeat top center;
    z-index: -2;
    animation: move-twinkle-back 20s linear infinite;
}

.clouds{
    background: transparent url(./startwinkle/clouds.png) repeat top center;
    z-index: -1;
    opacity: .4;
    animation: move-clouds-back 20s linear infinite;
}