<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
  <title>Austin Nguyen</title>
</head>
<body>
  <app-background></app-background>
  
  <div class="scroll container">
    <nav-bar></nav-bar>
    <app-header></app-header>
    <div class="columns" id="skills">
      <app-skills class="columnElem"></app-skills>
      <experience class="columnElem"></experience>
    </div>
    
  </div>

</body>
</html>