<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
  <title>Austin Nguyen</title>
</head>
<body>
  <div class="stars"></div>
  <div class="twinkling"></div>
  <div class="clouds"></div>
  
  <div class="scroll container">
    <nav-bar></nav-bar>
    <app-header></app-header>
    <!-- <div class="carContainer">  //michaels car
      <ul class="nav">
        <li>
          <img src="/assets/images/MichaelCar.png" alt="image" class="carImage">
        </li>
        <li>
          <h1 class="imagetitle1">Car thing ~~~~~~
        <h2 class="imagetitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
          voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
          sunt in culpa qui officia deserunt mollit anim id est laborum.</h2>
          <a href="#" class="imagetitle">see more...</a>
        </h1>
          
        </li>
      </ul>
      
      
    </div> -->
    <div class="columns">
      <app-skills id="skills" class="columnElem"></app-skills>
      <experience class="columnElem"></experience>
    </div>
    
  </div>

</body>
</html>