<nav class="navbar">
    <div class="container">
        <ul class="nav">
            <li>
                <button (click)="scrollToElement('skills')" class="button"> Skills </button>
            </li>
            <li>
                <button (click)="scrollToElement('portfolio')" class="button"> Portfolio </button>

            </li>
            <li>
                <button (click)="scrollToElement('contact')" class="button"> Contact me </button>

            </li>
            <li>
                <button (click)="scrollToElement('resume')" class="button"> Resume </button>

            </li>
        </ul>    
    </div>
</nav>
