/* You can add global styles to this file, and also import other style files */


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    position: absolute;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    color: #cfc4be;
    background-color: black;
    z-index: -4;
}


.container {
    margin: 0;
    margin-left: 90px;
    font-weight: bold;

}


ul {
    list-style-type: none;
}
li {
    display:inline-block;
    flex-grow: 1;
    margin-right: 10px;
}
h1{
    font-size: 50px;
}

a{
    color: #cfc4be;
    text-decoration: none;
    font-size: 16px;
}

.button{
    background-color: #ffffff00; /* Green */
    color: #cfc4be;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}

.scroll{
    height: 200vh
}

details summary:hover{
    color: #b4a299;
}

.columns{
    display: flex;
    padding-top: 50px;
    width: 100%;
    flex-wrap: wrap;

}
.columns .columnElem{
    flex-basis: 50%;
    min-height: 350px;
}
button::marker{
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: black; /* Set the background color of the scrollbar track */
}
  
  /* Define the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: #978074; /* Set the color of the scrollbar thumb */
    border-radius: 4px; /* Set the border radius of the scrollbar thumb */
}
  
  /* Change the appearance of the scrollbar on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #b4a299; /* Set the color of the scrollbar thumb on hover */
}
  
  /* Define the scrollbar track */
::-webkit-scrollbar-track {
    background-color: transparent; /* Set the background color of the scrollbar track */
    border-radius: 4px; /* Set the border radius of the scrollbar track */
}



